## What Does It Take To Be an NBA All-Star? 
## A Data Science Analysis
## Samuel Frankel

Ever since 1951, the NBA All-Star game has occurred annually. Twenty-four of the best players in the NBA are selected, by a mix of fan voting and head coaches, to compete in this prestigious game. (There can end up being more than 24, due to injuries). Each year, as the teams are announced, there is an abundance of discussion regarding the choices. Why did this player make it over this player? Why was this player chosen? I think that if we can look at the analytics behind which players are selected and which are left out, we can better understand the process, as well as make predictions on who will make it before the teams are announced.

## Step 1: Getting the data

In [1]:
import pandas as pd
import re

In [2]:
#Function that drops players who averaged less than 10 ppg
def drop_under_10(data):
    for i,r in data.iterrows():
        if (r['PTS'] < 10.0):
            data = data.drop(i)
    return data

data = pd.read_csv('NBA10.csv', sep=',')
data['Year'] = 2010
data = drop_under_10(data)

data2 = pd.read_csv('NBA11.csv', sep=',')
data2['Year'] = 2011
data2 = drop_under_10(data2)
data = pd.concat([data,data2])

data2 = pd.read_csv('NBA12.csv', sep=',')
data2['Year'] = 2012
data2 = drop_under_10(data2)
data = pd.concat([data,data2])

data2 = pd.read_csv('NBA13.csv', sep=',')
data2['Year'] = 2013
data2 = drop_under_10(data2)
data = pd.concat([data,data2])

data2 = pd.read_csv('NBA14.csv', sep=',')
data2['Year'] = 2014
data2 = drop_under_10(data2)
data = pd.concat([data,data2])

data2 = pd.read_csv('NBA15.csv', sep=',')
data2['Year'] = 2015
data2 = drop_under_10(data2)
data = pd.concat([data,data2])

data2 = pd.read_csv('NBA16.csv', sep=',')
data2['Year'] = 2016
data2 = drop_under_10(data2)
data = pd.concat([data,data2])

data2 = pd.read_csv('NBA17.csv', sep=',')
data2['Year'] = 2017
data2 = drop_under_10(data2)
data = pd.concat([data,data2])

data2 = pd.read_csv('NBA18.csv', sep=',')
data2['Year'] = 2018
data2 = drop_under_10(data2)
data = pd.concat([data,data2])

data2 = pd.read_csv('NBA19.csv', sep=',')
data2['Year'] = 2019
data2 = drop_under_10(data2)
data = pd.concat([data,data2])

data2 = pd.read_csv('NBA20.csv', sep=',')
data2['Year'] = 2020
data2 = drop_under_10(data2)
data = pd.concat([data,data2])

data = data.reset_index(drop=True)

In [3]:
#https://basketball.realgm.com/nba/allstar/game/rosters/2011
allstars = pd.read_csv('AllStars10.csv', sep=',')
allstars['Year'] = 2010 

allstars2 = pd.read_csv('AllStars11.csv', sep=',')
allstars2['Year'] = 2011
allstars = pd.concat([allstars, allstars2])

allstars2 = pd.read_csv('AllStars12.csv', sep=',')
allstars2['Year'] = 2012
allstars = pd.concat([allstars, allstars2])

allstars2 = pd.read_csv('AllStars13.csv', sep=',')
allstars2['Year'] = 2013
allstars = pd.concat([allstars, allstars2])

allstars2 = pd.read_csv('AllStars14.csv', sep=',')
allstars2['Year'] = 2014
allstars = pd.concat([allstars, allstars2])

allstars2 = pd.read_csv('AllStars15.csv', sep=',')
allstars2['Year'] = 2015
allstars = pd.concat([allstars, allstars2])

allstars2 = pd.read_csv('AllStars16.csv', sep=',')
allstars2['Year'] = 2016
allstars = pd.concat([allstars, allstars2])

allstars2 = pd.read_csv('AllStars17.csv', sep=',')
allstars2['Year'] = 2017
allstars = pd.concat([allstars, allstars2])

allstars2 = pd.read_csv('AllStars17.csv', sep=',')
allstars2['Year'] = 2017
allstars = pd.concat([allstars, allstars2])

allstars2 = pd.read_csv('AllStars18.csv', sep=',')
allstars2['Year'] = 2018
allstars = pd.concat([allstars, allstars2])

allstars2 = pd.read_csv('AllStars19.csv', sep=',')
allstars2['Year'] = 2019
allstars = pd.concat([allstars, allstars2])

allstars2 = pd.read_csv('AllStars20.csv', sep=',')
allstars2['Year'] = 2020
allstars = pd.concat([allstars, allstars2])

              Player  Year
0          Ray Allen  2010
1       Vince Carter  2010
2      Antonio Davis  2010
3         Grant Hill  2010
4      Allan Houston  2010
..               ...   ...
20   Khris Middleton  2020
21  Donovan Mitchell  2020
22     Pascal Siakam  2020
23      Kemba Walker  2020
24        Trae Young  2020

[312 rows x 2 columns]

In [14]:
data['All Star'] = 0
def was_allstar(name, year):
    for i, r in allstars.iterrows():
        if (r['Player'] in name and year == r['Year']):
            return True 
for i, r in data.iterrows():
    if (was_allstar(r['Player'], r['Year'])):
        data.at[i, 'All Star'] = 1

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,All Star
0,3.0,LaMarcus Aldridge\aldrila01,PF,24,POR,78,78,37.5,7.4,15.0,...,5.6,8.0,2.1,0.9,0.6,1.3,3.0,17.9,2010,0
1,6.0,Ray Allen*\allenra02,SG,34,BOS,80,80,35.2,5.8,12.2,...,2.6,3.2,2.6,0.8,0.3,1.6,2.3,16.3,2010,1
2,14.0,Carmelo Anthony\anthoca01,SF,25,DEN,69,69,38.2,10.0,21.8,...,4.4,6.6,3.2,1.3,0.4,3.0,3.3,28.2,2010,0
3,16.0,Gilbert Arenas\arenagi01,PG,28,WAS,32,32,36.5,7.9,19.3,...,3.6,4.2,7.2,1.3,0.3,3.7,3.0,22.6,2010,0
4,17.0,Trevor Ariza\arizatr01,SF,24,HOU,72,71,36.5,5.5,13.9,...,4.5,5.6,3.8,1.8,0.6,2.2,2.3,14.9,2010,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2052,NaN,Justise Winslow,SF,23,MIA,11,5,32.0,4.5,11.7,...,5.2,6.6,4.0,0.6,0.5,2.2,3.5,11.3,2020,0
2053,NaN,Christian Wood,PF,24,DET,62,12,21.4,4.6,8.2,...,4.6,6.3,1.0,0.5,0.9,1.4,1.6,13.1,2020,0
2054,NaN,Thaddeus Young,PF,31,CHI,64,16,24.9,4.2,9.4,...,3.5,4.9,1.8,1.4,0.4,1.6,2.1,10.3,2020,0
2055,NaN,Trae Young,PG,21,ATL,60,60,35.3,9.1,20.8,...,3.7,4.3,9.3,1.1,0.1,4.8,1.7,29.6,2020,1
2056,NaN,Cody Zeller,C,27,CHO,58,39,23.1,4.3,8.3,...,4.3,7.1,1.5,0.7,0.4,1.3,2.4,11.1,2020,0